html,
body {
    margin: 0;
    padding: 50px;
    background-color: #d6d6d6;
    font-family: Inter;
    /* min-width: 500px */
}





/* Large Card */

.card-large {
    display: flex;
    flex-direction: column;
    /* width: 413px; */
    /* Have to set height here otherwise the body element shrinks... */
    height: 466px;
    max-width: 413px;
    max-height: 466px;
    background-color: white;
}

.card-large-header {
    background-color: #C4C4C4;
    width: 100%;
    height: 150px;
    max-height: 150px;
}



.text-title {
    text-align: center;
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;
    margin-bottom: 10px;
}

.card-large-body {
    flex: 1;
    padding: 15px;
    font-weight: 500;
    font-size: 16px;
}

.card-large-footer {
    display: flex;
    flex-direction: column;
    max-height: 100px;
}

.btn-area {
    flex: auto;
    align-self: center;
}

.btn-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #1C62EA;
    width: 100px;
    height: 47px;
    border-radius: 4px;

    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
}


.date-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 14px;
}

.bottom-left-date {
    color: #808080;
    font-weight: 400;
    font-size: .75em;
    padding-top: 5px;
}

.bottom-right-icons {
    display: flex;
    flex-direction: row;
}

.grey-square-xs {
    width: 24px;
    height: 24px;
    background-color: #C4C4C4;
    /*top right bottom left */
    margin: 0 4px 0 4px
}








/* Small Card */
.card-small {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    max-width: 472px;
    padding: 12px;

}

.grey-square-medium {
    box-sizing: border-box;
    background-color: #C4C4C4;
    height: 64px;
    width: 64px;
    min-width: 64px;
    margin-right: 12px;

}

.text-area {
    display: flex;
    flex-direction: column;
    /* this is the easiest way I could figure out how to keep things contained... */
    overflow: hidden;
    /* Didn't like this alternative of setting a max-width. I wish I could set it to only take up the remaining width without using a calc? flex: 1 still seemed to take up extra space. */
    /* max-width: 82%; */

}

.text-title-small {
    /* Copied from figma */
    font-size: 16px;
    font-weight: 500;
    font-style: bold;
    line-height: 19.36px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Makes the square disappear unless we set a width */
    white-space: nowrap;
    /* Enable this if the title needs to be moved higher as show in the figma example */
    /* margin-top: -4px;  */
}

.text-small {
    /* Copied from figma */
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    padding: 2px;
}
